<form method="post" action="https://www.paypal.com/cgi-bin/webscr">
        <fieldset>
            <input type="hidden" value="_cart" name="cmd">
            <input type="hidden" value="1" name="add">
            {# flat discount rates
            discount_rate = value percent
            discount_amount = flat value
            discount_num = quanity when to apply discount             #}
            <input type="hidden" value="{{PAY_PAYPAL_ACCOUNT}}" name="business">
            <input type="hidden" value="{% if article.product_type %}{{article.product_type.split('/')[1]}}-{% endif %}{{article.slug}}" name="item_name">
            <input type="hidden" value="1" name="quantity">
            <input type="hidden" value="{{PAY_CURRENCY}}" name="currency_code">
            <input type="hidden" value="{{PAY_SUCCESSURL}}" name="return">
            <input type="hidden" value="{{PAY_CANCELURL}}" name="cancel_return">
{# 
/**************    SINGLE PRODUCT PRICE VARIATION     *******************/
#}

            <ul>
                <li>
{% if article.product_price %}
<h4>{{article.variation_label}}</h4>
{% else %} 

{% for variationname in article.variation_label.split('|') %}
{% set count = 0 %}
<label>
<h4>{{variationname}}:</h4>

{# 
BEGIN SELECTION FORM FOR HANDLING 
PRODUCT VARIATIONS AND PRICE VARIATIONS
FOR BOTH SINGLE PRICE AND MULTI PRICE ITEMS
 #}
<select class="form-control" name="os{{count + loop.index0}}">
{% if variationname == 'Colors' %}
            {% for color in article.product_colors.split(',') %}
                <option value="{{color}}">{{color}}</option>
            {% endfor %} 
{% elif variationname == 'Sizes' %}
            {% for size in article.product_sizes.split(',') %}
                <option value="{{size}}">{{size}}</option>
            {% endfor %} 
{% elif variationname == 'Editions' %}
            {% for items in article.price_variations.split(',') %}
            {% set pairlist = loop.cycle(items.split(':')) %}
            <option value="{{pairlist[0]}}">{{pairlist[0]}} {{pairlist[1]|babelmoney}}</option>
            {% endfor %}
{% elif variationname == 'Ticket' %}
            {% for items in article.price_variations.split(',') %}
            {% set pairlist = loop.cycle(items.split(':')) %}
            <option value="{{pairlist[0]}}">{{pairlist[0]}} {{pairlist[1]|babelmoney}}</option>
            {% endfor %}
{% elif variationname == 'Admissions' %}
            {% for items in article.price_variations.split(',') %}
            {% set pairlist = loop.cycle(items.split(':')) %}
            <option value="{{pairlist[0]}}">{{pairlist[0]}} {{pairlist[1]|babelmoney}}</option>
            {% endfor %}
{% elif variationname == 'Meals' %}
            {% for items in article.price_variations.split(',') %}
            {% set pairlist = loop.cycle(items.split(':')) %}
            <option value="{{pairlist[0]}}">{{pairlist[0]}} {{pairlist[1]|babelmoney}}</option>
            {% endfor %}
{% elif variationname == 'Value Packs' %}
            {% for items in article.price_variations.split(',') %}
            {% set pairlist = loop.cycle(items.split(':')) %}
            <option value="{{pairlist[0]}}">{{pairlist[0]}} {{pairlist[1]|babelmoney}}</option>
            {% endfor %}
{% elif variationname == '' %}

{% else %}   
<option value="doesn't exist">oh oh! This option doesn't exist! Check the form codebase.</option>      
{% endif %}         
</select>

</label>    
{% endfor %} <!--   end variation loop -->
{# 
END SELECTION FORM 
#}                 
{% endif %} 
{#/**************  
HIDDEN INPUT FIELDS for VARIATIONS     
************************/#}
{# grab basic option data #}
{% for variationname in article.variation_label.split('|') %}
{% set count = 0 %}
{% if article.product_price %}
 <input type="hidden" name="item_number" value="{{variationname}}" >
{% else %}
<input type="hidden" name="on{{count + loop.index0}}" value="{{variationname}}" >
{% endif %}
                    
{% if variationname == 'Colors' %}
                    {% for colors in article.product_colors.split(',') %}
                    {% set pairlist = loop.cycle(colors.split(':')) %}
                    {% set count = 0 %}
                    <input type="hidden" name="option_select{{count + loop.index0}}" value="{{article.product_price}}" >
                    <input type="hidden" name="option_amount{{count + loop.index0}}" value="{{article.product_price}}" >
                    {% endfor %}
{% endif %}
{% endfor %}
{# end basic option data #}

{# grab price option data #}
{% if article.price_variations %}
                    {% for items in article.price_variations.split(',') %}
                    {% set pairlist = loop.cycle(items.split('=')) %}
                    {% set count = 0 %}
                    <input type="hidden" name="option_select{{count + loop.index0}}" value="{{pairlist[0]}}" >
                    <input type="hidden" name="option_amount{{count + loop.index0}}" value="{{pairlist[1]}}" >
                    {% endfor %}
{% endif %}
{# end price option data #}

{#/**************  
END HIDDEN INPUT FIELDS for VARIATIONS     
************************/#}
                </li>
            </ul>
{#
/**************     SHIPPING RATE FOR TOTAL CART    ************************/
# } 
{% if PAYPAL_SHIPPING %}
<select name="shipping" style="margin-bottom: 5px;">
{% for shipper,rate in PAYPAL_SHIPPING %}
<option selected value="{{rate}}">{{shipper}} {{rate|babelmoney}}</option>
{% endfor %}
</select>
{% endif %}
{#
/**************     SHIPPING RATE FOR TOTAL CART     ************************/
#}



{#
/**************     SHIPPING RATE FOR SINGLE ITEM - requires hidden inputs   ************************/
# }
{% for shippers in article.product_shippers %}
<input type="hidden" name="shipping{{loop.index0}}" value="{{article.product_shipping}}">    
{% endfor %}
{#
/**************     SHIPPING RATE FOR SINGLE ITEM - requires hidden inputs   ************************/
#}
<input type="hidden" value="{{article.product_price}}" name="amount">
<input type="submit" class="button" value="Add to cart" name="submit">
 
{# 
/**************    END SINGLE PRODUCT PRICE VARIATION     *************/
#}

       
        </fieldset>
</form>

