<nav id="nava" class="side-nav-ul ">
	{# #}<div class="mobilelogo col3"><a href="{{SITEURL}}"><img src="{{SITEURL}}/assets/img/fisherman.png" alt="{{SITENAME}}"></a></div> 
	<ul class="clearfix">
	{# {% for cat,article in categories %}
    <li{% if cat == category %} class="active"{% endif %}>
        <a href="{{ SITEURL }}/{{ cat.url }}">
        <span class="menu-name">{{cat|replace('Gullah','')|replace('Gallery','Media')}}</span>
		<span class="menu-icon icon-{{cat.slug}}"></span>
		</a>
    </li>
    {% endfor %}
		{% for p in pages if not p.childof %}
		<li title="{{p.title}}" class="{{p.slug}} {% if p == page %}active{% endif %}">
		<a href="{{SITEURL}}/{{p.url}}/">
		<span class="menu-name">{{p.title|replace('Our','')}}</span>
		<span class="menu-icon icon-{{p.slug}}"></span>
		</a>
		</li>
		{% endfor %}comment #}
		{% for name in MENU %}
		
		<li title="{{name}}" class="{{name|lower|replace(' ','-')}} 
		">
		<a href="{{SITEURL}}/{{name|lower|replace(' ','-')}}/">
		<span class="menu-name">{{name|
		replace('Our','')|
		replace('Gullah','')|
		replace('Gallery','Media')}}</span>
		<span class="menu-icon icon-{{name|lower|replace(' ','-')}}"></span>
		</a>
		</li>
		{% endfor %}
	</ul>
</nav>

