{% macro sidebar_ads(dataid='') %}
<a class="ubm-banner" data-id="{{dataid}}"></a>
{% endmacro %}

{% macro edit( postid='' ) %}
<a target="_blank" class="roundcorners button_light" href="http://notes.gullahcelebration.com/wp-admin/post.php?post={{postid}}&action=edit">edit this</a>
{% endmacro %}

{% macro pptitle( the_title='') %}
<h3 class="animated fadeInLeft"><span>Hilton Head Island</span>{{ the_title }}</h3> 
{% endmacro %}




{# BEGIN GALLERY #}

{% macro gallery(gallery='',title='',siteurl='') %}
{% if gallery %}
	<h4>Gallery</h4>
    <ul class="gallery row">
    {% for image in gallery %}
    <li class="{% if loop.index is divisibleby 3 %}last{% endif %}" >
    <a class="photo-gallery" href="{{ siteurl }}/assets/gallery/{{ title }}/{{ image }}"
    >
    <img id="gimg" src="{{ siteurl }}/assets/gallery/{{ title }}/thumbnail/{{ image }}" alt="gallery image">
    </a>
    </li>
    {% else %}
    <li class="alert">something is missing HERE ???</li>
    {% endfor %}
    </ul>
{% endif %}
{% endmacro %}

{# END GALLERY #}




{# BEGIN ADVERTISEMENTS #}
{% macro wideAd(name='') %}
	<section id="widefooter_ad" class="row">
	    <div class="ad_container">
	    <h1 class="center">{{name}}</h1>
	    </div>
	</section>
{% endmacro %}
{# END ADVERTISEMENTS #}


{# BEGIN META ATTRIBUTES #}
{% macro meta(tags='',cats='',date='') %}
	<div class="entry_meta">
		{% if date %}
		<span class="date">Published: {{ date }}</span>
		{% endif %}
			{% if cats %}
		<ul>
		<li>Filed Under:</li>
		<li class="icon-{{cats}}"><a href="{{SITEURL}}/{{cats.url}}">{{cats}}</a></li>
		</ul>
			{% endif %}
		{# 	{% if tags %}
		<ul>
		<li>Media Type:</li>
			{% for tag in tags %}
				{% if tag != '' %}
		<li class="icon-{{tag}}"></li>
				{% else %}
		<li class="icon-journal"></li>
				{% endif %}
			{% endfor %}
		</ul>
			{% endif %}comment #}
	</div>
{% endmacro %}
{# END META ATTRIBUTES #}

{# BEGIN MEDIA ELEMENTS #}
{% macro media(audiofile='',audiourl='',videofile='',videourl='') %}
{% if audiofile != '' %}
	<audio controls>
	  <source src="horse.ogg" type="audio/ogg">
	  <source src="{{audiofile}}" type="audio/mpeg">
	Your browser does not support the audio element.
	</audio>
{% elif audiourl != '' %}
	<audio controls>
	  <source src="horse.ogg" type="audio/ogg">
	  <source src="{{audiourl}}" type="audio/mpeg">
	Your browser does not support the audio element.
	</audio>
{% elif videofile != ''%}
	<video controls>
	  <source src="foo.ogg" type="video/ogg">
	  <source src="{{videofile}}" type="video/mp4">
	  Your browser does not support the <code>video</code> element.
	</video>
{% elif videourl != ''%}
	<video controls>
	  <source src="foo.ogg" type="video/ogg">
	  <source src="{{videourl}}" type="video/mp4">
	  Your browser does not support the <code>video</code> element.
	</video>
{% else %}
{% endif %}
{# END MEDIA ELEMENTS #}
{% endmacro %}