    <nav class="mast-head-nav">
      <ul>
     {{pages}}
{% for p in pages.entries %}
    <li title="{{p.title}}" class="{{p.url}} {% if url == p.url %}active{% endif %}">
    <a href="{{p.url}}">
    <span class="menu-name">{{p.title}}</span>
    </a>
    </li>
{% endfor %}
{% for cat in _categories %}
    <li{% if url == cat %} class="active"{% endif %}>
        <a href="{{ cat.url }}/">
        <span class="menu-name">{{cat.name}}</span>
    </a>
    </li>
{% endfor %}

      </ul>
    </nav>