{% extends 'base.html' %}
{% block title %}{{ SITENAME }} | {{ article.title }}{% endblock %}
{% block seolink %}{{SITEURL}}/{{article.url}}{% endblock %}
{% block seourl %}{{SITEURL}}/{{article.url}}{% endblock %}
{% block seotitle %}{{article.title}}{% endblock %}
{% block pageclass %}{{ article.slug }}{% endblock %}
{% block meta_description %}{{SITEDESCRIPTION}}-{{ article.excerpt}}{% endblock %}
{% block ogdescription %}{{SITEDESCRIPTION}}-{{ article.content|striptags }}{% endblock %}
{% block ogimage %}{% if article.featuredimage %}{{article.featuredimage}}{%else%}{{SITETHUMBNAIL}}{% endif %}{% endblock %}
{% block meta_keywords %}
{% if article.tags %}
{{ article.tags|join(',')}}
{% else %}{{ KEYWORDS_DEFAULT }}{% endif %}
{% endblock %}

{% block bodyclass %}<body class="articles">{% endblock %}
{% block content %}
    <h1>{{article.title}}</h1>
    <p>
    {% if pagenav %}{% endif %}
<a class="button" href="{{pagenav.prev.url}}"><--Prev {{pagenav.prev.title}}  </a>
<a class="button" href="{{pagenav.next.url}}">{{pagenav.next.title}}  Next Page--></a>
    </p>
    {% if article.featuredimage %}<img src="{{article.featuredimage}}" alt="{{article.title}}">{% endif %}
		{% include 'modules/paypalform.html' %}
    <p>{{article.content|raw}}</p>

{% endblock %}