{% extends "category.html" %}
{% block bodyclass %}
<body class="pushmenu category links">
{% endblock %}




{% block content %}
{% set nums = articles|count %}

<div id="content" class="push-left col9 clearfix">
<div class="content-data col12">

<div class="content-head">
<h3 class="title">Read stories of Gullah</h3>	
</div>
{# 
<div class="onerow tabslider">
<div class="col col8">
{% include 'modules/categoryslider.html' %}  
</div>
<div class="sliderlinks col col4"></div>
</div>
comment #}



<ul id="grid" class="category-list roundcorners shadow"> 

{% for article in articles if article.category == 'links' %}
  <li class="clearfix">
  <a href="{{SITEURL}}/{{article.url}}" title="Permalink to {{article.title|striptags}}">
  <div class="col article-list-image">
  {% if article.featuredimage %}
  {% set slug = article.title|lower|replace(' ','-') %}
  	<img src="{{article.featuredthumb|replace('auto-draft',slug)}}" alt="{{SITENAME}}">
  {% else %}
    <img src="{{SITEURL}}/assets/img/thumb.png" alt="{{SITENAME}}">
  {% endif %}
  </div>
  <div class="col col7 article-list-excerpt">
 <span class="category-list-date">{{article.date.strftime('%B-%d-%Y')}}</span>
  <h3>{{article.title}}</h3></div></a></li>
{% endfor %}

</ul> 
{# 
{% include "pagination.html" %}
<div class="onerow">
  <h3>Explore Categories</h3>
  <ul>
    {% for cats,_ in categories %}
    {% if cats != category %}
      <li><a href="{{SITEURL}}/{{cats.url}}">{{cats}}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>comment #}

</div>
</div>


{% endblock %}