{% for p in pages %}
<li title="{{p.title}}" class="{{p.slug}} {% if p == page %}active{% endif %}">
<a href="{{SITEURL}}/{{p.url}}"  data-description="{{p.subtitle}}"><small>{{p.title}}</small><span>{{p.subtitle}}</span></a></li>
{% endfor %}

{% if MENU_ITEMS %}
{% for name, link in MENU_ITEMS %}
<li title="{{name}}" class="{{name}}"><a href="{{link}}"><small>{{name}}</small><span></span></a></li>
{% endfor %}
{% endif %}

{% if SHOW_CATEGORY_IN_MENU %}
	{% for category in articles|sort|groupby('category') %}
	<li title="{{category.grouper}}" class="{{category.grouper}}{% if cat == category %} active{% endif %}">
	<a href="#" style="text-transform: capitalize;">
	<small>{{category.grouper}}</small><span></span>
	</a>
	 <ul class="dl-submenu">
	{% for article in category.list %}
	<li><a href="{{SITEURL}}/{{article.url}}">{{article.title}}</a>

	</li>
	{% endfor %}
	</ul> 
	</li>
	{% endfor %}	
{% endif %}	