{% extends 'base.html' %}
<!-- add page title to document head -->
{% block title %}{{ SITENAME }} | {{ page.title|title }}{% endblock %}
<!-- add seo to page head -->
{% block seolink %}{{SITEURL}}/{{page.url}}{% endblock %}
{% block seourl %}{{SITEURL}}/{{page.url}}{% endblock %}
{% block seotitle %}{{page.title}}{% endblock %}
<!-- add meta description based on page summary -->
{% block meta_description %}{{ page.summary|striptags }}{% endblock %}
<!-- add meta keywords based on tags -->
{% block meta_keywords %}
{% if page.tag %}{{ page.tag }}{% else %}{{ KEYWORDS_DEFAULT }}{% endif %}
{% endblock %}
<!-- add page class to each page -->
{% block pageclass %}{{ page.slug }}{% endblock %}
<!-- end of page head content -->
{% block bodyclass %}
<body class="pushmenu page {% if page.slug %}{{ page.slug }}{% else %}null{% endif %}">
{% endblock %}

{# {% block gullahphrase %}
  <div class="onerow gullah-phrase">
  <div class="push-left center">
    <h3>
    {% for name, data in PAGE_META.items() if name == page.title %}
    	{{data['phrase']}}
    	<span>{{data['description']}}</span>
    {% endfor %}
	{% if page.title not in PAGE_META %}
		EBENIN’ EB’RY-BODY! TAH GULLAH SHEL-UH'-BAY'SHUN
		<span>Evening every body! to Gullah Celebration</span>
	{% endif %}
    </h3>
  </div>  
  </div> 
{% endblock %}comment #}
{% block pagetitle %}
{{ macros.pptitle( 'Gullah Celebration' ) }}
{% endblock %}
{% block content %} 

{% if page.slug == 'welcome'%}
{# comment{% include 'modules/slider.html' %} #}
<div class="homepage onerow">
<div class="homepage-image animated fadeInDown">
<img src="{{SITEURL}}/assets/img/gullah-seal.png" alt="{{SITENAME}}" class="center floating">
</div>	
{# <div class="homepage_caption animated">
<h4>Huddy Everybody! Welcome to the</h4>
<h1>19th ANNUAL</h1>
<h4>Hilton Head Island Gullah Celebration!</h4>
</div>   comment #}
</div>


{% else %}
<div id="content" class="clearfix col9 push-left">
<aside class="col col3">
{% include 'modules/sidebar.html' %}
</aside>
<div class="content-data col col8 roundcorners">
<div class="onerow pagehead">
	<h6>{{SITENAME}}</h6>
	<h2 class="pagehead-title animated fadeInUp">{{page.title}}</h2>	
</div>
<div class="onerow page-content">
{% if page.video_file %}
<div class="video">
        <video controls width="600" height="200" autoplay="autoplay" loop="false" preload="auto">
          <source src="{{page.video_file}}" type="video/mp4" >     
        </video> 
</div>
{% endif %}
{{page.content}}
</div>
</div>

</div>
{% endif %}

{% endblock %}
<!--  END OF PAGE CONTENT BLOCK -->

