{% if DEFAULT_PAGINATION %}
    <ul class="pagination">
    {% if articles_page.has_previous() %}
        {% set num = articles_page.previous_page_number() %}
        <li class="prev"><a href="{{ SITEURL }}/{{ page_name }}/index{{ num if num > 1 else '' }}.html">&larr; Previous</a></li>
    {% else %}
        <li class="prev disabled"><a href="#">&larr; Previous</a></li>
    {% endif %}
    {% for num in range( 1, 1 + articles_paginator.num_pages ) %}
        <li class="{{ 'active' if num == articles_page.number else 'dd' }}"><a href="{{ SITEURL }}/{{ page_name }}/index{{ num if num > 1 else '' }}.html">{{ num }}</a></li>
    {% endfor %}
    {% if articles_page.has_next() %}
        <li class="next"><a href="{{ SITEURL }}/{{ page_name }}/index{{ articles_page.next_page_number() }}.html">Next &rarr;</a></li>
    {% else %}
        <li class="next disabled"><a href="#">&rarr; Next</a></li>
    {% endif %}
    </ul>
{% endif %}

{# 
PAGINATION WITH NEWER AND CONTINUE LINKS. NO NUMBER PAGINATION
	{% if articles_page.has_previous() %}
		{% if articles_page.previous_page_number() == 1 %}
			<a href="{{ SITEURL }}/{{ page_name }}/index{{ articles_page.previous_page_number() }}.html" class="button_accent">&larr;&nbsp;&nbsp;&nbsp;newer</a>
		{% else %}
			<a href="{{ SITEURL }}/{{ page_name }}/index{{ articles_page.previous_page_number() }}.html" class="button_accent">&larr;&nbsp;&nbsp;&nbsp;newer</a>
		{% endif %}
	{% endif %}
	{% if articles_page.has_next() %}
		<a href="{{ SITEURL }}/{{ page_name }}/index{{ articles_page.next_page_number() }}.html" class="button_accent" style="float:right; right: 0;">continue&nbsp;&nbsp;&nbsp;&rarr;</a>
	{% endif %}

PAGINATION WITH NUMBERS AND NEXT AND PREV LINKS
    <ul class="breadcrumbs">
	{% if articles_page.has_previous() %}
		{% set num = articles_page.previous_page_number() %}
		<li class="prev"><a href="{{ SITEURL }}/{{ page_name }}/index{{ num if num > 1 else '' }}.html">&larr; Previous</a></li>
	{% else %}
		<li class="prev disabled"><a href="#">&larr; Previous</a></li>
	{% endif %}
	{% for num in range( 1, 1 + articles_paginator.num_pages ) %}
		<li class="{{ 'active' if num == articles_page.number else 'dd' }}"><a href="{{ SITEURL }}/{{ page_name }}/index{{ num if num > 1 else '' }}.html">{{ num }}</a></li>
	{% endfor %}
	{% if articles_page.has_next() %}
		<li class="next"><a href="{{ SITEURL }}/{{ page_name }}/index{{ articles_page.next_page_number() }}.html">Next &rarr;</a></li>
	{% else %}
		<li class="next disabled"><a href="#">&rarr; Next</a></li>
	{% endif %}
    </ul>

PAGINATION STYLE: Prev Page 2 / 11  Next

    {% if articles_page.has_previous() %}
        {% if articles_page.previous_page_number() == 1 %}
            <div class="navButton"> <a href="{{ SITEURL }}/{{ page_name }}.html" >Prev</a></div>
        {% else %}
            <div class="navButton"><a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html">Prev</a></div>
        {% endif %}
    {% endif %}
    <div class="navButton">Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}</div>
    {% if articles_page.has_next() %}
        <div class="navButton"><a href="{{ SITEURL }}/{{ page_name }}/index{{ articles_page.next_page_number() }}.html" >Next</a></div>
    {% endif %}


   PAGINATION STYLE: 1,2...11

       {% if articles_page.has_previous() and (articles_page.previous_page_number() != 1) %}
        <li><a href="{{ SITEURL }}">1</a></li>
    {% endif %}
    {% if articles_page.previous_page_number() - 1 == 2 %}
        <li><a href="{{ articles_page.previous_page_number() - 1}}">{{ articles_page.previous_page_number() - 1}}</a></li>
    {% elif articles_page.previous_page_number() - 1 > 1 %}
        <li class="disabled"><a href="#">...</a></li>
    {% endif %}
    {% if articles_page.has_previous() %}
        <li><a href="{{ SITEURL }}{% if articles_page.previous_page_number() != 1 %}{{ page_name }}{{ articles_page.previous_page_number() }}/{% endif %}">{{ articles_page.previous_page_number() }}</a></li>
    {% endif %}
        <li class="active"><a href="#">{{ articles_page.number }}</a></li>
    {% if articles_page.has_next() %}
        <li><a href="{{ SITEURL }}{{ page_name }}{{ articles_page.next_page_number() }}/">{{ articles_page.next_page_number() }}</a></li>
    {% endif %}
    {% if articles_paginator.num_pages - articles_page.next_page_number() == 2 %}
        <li><a href="{{ articles_page.next_page_number() + 1}}">{{ articles_page.next_page_number() + 1}}</a></li>
    {% elif articles_paginator.num_pages - articles_page.next_page_number() > 2 %}
        <li class="disabled"><a href="#">...</a></li>
    {% endif %}
    {% if articles_page.has_next() and (articles_page.next_page_number() != articles_paginator.num_pages) %}
        <li><a href="{{ SITEURL }}{{ page_name }}{{ articles_paginator.num_pages }}/">{{ articles_paginator.num_pages }}</a></li>
    {% endif %}
 #}