{% extends "category.html" %}
{% block bodyclass %}
<body class="pushmenu tags {{tag}}">
{% endblock %}

{% block content %}
{% set nums = articles|count %}
<div class="content-emblem col3"></div>
<div id="content" class="clearfix">


<div class="content-data col8">


<div class="content-head">
<h3 class="title">Find {{nums}} Stories of Gullah {{tag}}</h3>	
</div>



<ul id="grid" class="category-list roundcorners shadow">
{% for article in articles %}
  <li class="clearfix">
  <a href="{{SITEURL}}/{{article.url}}" title="Permalink to {{article.title|striptags}}">
  <div class="col col7 article-list-excerpt">
  <h3>{{article.title}}</h3>
  </div>
  </a></li>

{% endfor %}
</ul> 

{% include "pagination.html" %}
<div class="onerow">
  <h3>Explore Categories</h3>
  <ul>
    {% for cats,_ in categories %}
    {% if cats != category %}
      <li><a href="{{SITEURL}}/{{cats.url}}">{{cats}}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

</div>
</div>


{% endblock %}