<?php
//this is the page template file
// get the page url
$url = explode("/", $url = "$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]");
// use page url as database name with extension
$db = $url[4].".txt";
$filename = $db;
// check if flat file exists
if(file_exists($filename)){
	$content = file($filename);
	//put content in array
	$array = explode(" || ", $content[0]);
	$votes = $array[0];
}else{
	$votes = "0";
}

// create processor file and load default content
$processor = "poll_vote.php";
$procont = "{{SITEURL}}/assets/db/poll_vote.txt";
if(!file_exists($processor)){
$fp = fopen($processor,"w");
	$null = file_get_contents($procont);
	// input a default value to the file
	fputs($fp,$null);
	fclose($fp);
}
	
?>
{% extends "base.html" %}
{% block title %}{{ SITENAME }} | {{ article.title|striptags }}{% endblock %}
{% block seolink %}{{SITEURL}}/{{article.url}}{% endblock %}
{% block seourl %}{{SITEURL}}/{{article.url}}{% endblock %}
{% block seotitle %}{{article.title}}{% endblock %}
{% block pageclass %}{{ article.slug }}{% endblock %}
{% block meta_keywords %}
{% if article.tag %}{{ article.tag }}{% else %}{{ KEYWORDS_DEFAULT }}{% endif %}
{% endblock %}
{% block bodyclass %}
<body class="{% if article.slug %}{{ article.slug }}{% else %}null{% endif %}">
{% endblock %}
{% block content %}

    <div class="pagehead">
    <h1>Gullah Contest</h1>
    <hr>
    <h6><p>Share This with Friends!</p>
    </h6>
    {% include 'modules/sharelinks.html' %}
    </div>

<div class="onerow bgimage">
	<div class="wrapper-1000">
	<div class="pagebody">
	<!-- <h2>{{ article.title }}</h2> -->
	{% if article.featuredimages %}
          {% for pair in article.featuredimages.split(',') %}
          {% set pairlist = loop.cycle(pair.split(':')) %}
<div class="featuredimage">
      <img src="{{ASSETSURL}}/products/{{pairlist[0]}}" alt="{{article.title}}">
    <h1 class="caption">{{pairlist[1]}}</h1>  
</div>
          {% endfor %}
	{% endif %}
<div class="productdesc">
        {{ article.content }}

 <div id="poll">
<h3>Vote this</h3>
<form >
<a class="submitVote" href="#"><img src="{{SITEURL}}/assets/img/poll.gif"></a>
<div id="vote"><?php echo $votes; ?></div>
</form>
<div id="greet"></div>
</div>
</div>

	


</div>   		
	</div>

</div>
 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function()
	{
		
		$(".submitVote ").click(function()
		{
			var rating = <?php echo $votes;?>;
			var queryString = <?php echo $votes ;?>;
			$("#vote, #votej").text(rating+1); 
			
				$.ajax({
				type: "POST",
				url: "poll_vote.php",
				data: queryString,
				cache: false,
				success: function(html)
				{

					$("form").fadeOut(100);
					$("#greet").html("Thanks for voting!");
					$("#greet").delay(500).fadeOut(2000);

					
				}
				});
			
		});
	
	});
</script>

<style>
.submitVote {
display: inline-block;
padding: 10px;
background: aliceblue;
}
</style>



{% endblock %}

